<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <header>
        
    </header>

    <body>
        <h1 id="title">Emprunt et Retour</h1>
        <form id="formRechercheClient" action="#" method="post"> 
            <label>Telephone du client : </label>
            <input type="tel" id="telClient" name="telClient" placeholder="Telephone du client" maxlength="10">
            <input type="hidden" id="option" name="option" value="RechercheClient">
            <button type="button" id="btnRechercheClient">Recherche</button>
        </form>
        <% if (client != null){ %>
            <% if (client.length != 0){ %>
                <div>
                    <p>Utilisateur trouvé : <%=client[0].Prenom%> <%=client[0].Nom %></p>
                    <p>Telephone : <%=client[0].Telephone%></p>
                    <p>Email : <%=client[0].Email%></p>
                    <p>Nombre de pret : <%=client[0].NbPret%></p>
                </div>
                

        
            

            <br>

            <form id="formEmpruntLivre" action="#" method="post"> 
                <input type="radio" id="radioEmprunt" name="choix" value="radioEmprunt" >
                <label>Emprunt</label>
                <input type="radio" id="radioRetour" name="choix" value="radioRetour">
                <label >Retour</label><br>
                <label>ISBN du livre: </label>
                <input type="text" id="isbnLivre" name="isbnLivre" placeholder="ISBN du Livre">
                <% if (client != null){ %>
                    <% if (client.length != 0){ %>
                        <input type="hidden" id="clientEmprunt" name="clientEmprunt" value=<%= client[0].id%>>
                <%  } }%>  
                <input type="hidden" id="option" name="option" value="EmpruntRetour">    
                <button type="button" id="btnEmpruntRetour">Emprunt/Retour</button>
            </form>
            <p id="noteEmprunt"></p>

            <%  } else { %>
                <p>Utilisateur non trouvé</p>
            <%  } %>             

            <% } %>  

    </body>
    <script>
        document.getElementById('btnRechercheClient').addEventListener("click",()=>{
            if (document.getElementById("telClient").value.trim() != ""){
                document.getElementById('formRechercheClient').submit();
            } else{
                alert("Entrer le numero du telephone pour un recherche du client");
            }  
        })

        document.getElementById('radioEmprunt').addEventListener("click",()=>{
            if(document.getElementById('radioEmprunt').checked){
                document.getElementById('title').innerHTML = "Emprunt du livre"
                document.getElementById('btnEmpruntRetour').innerHTML = "Emprunt"
                document.getElementById('noteEmprunt').innerHTML = "Chaque personne peut emprunter 5 livres maximum. <br>"+
                                                                   "Un même livre ne peut pas prêter 2 copies à un personne. <br>" + 
                                                                   "Une durée du prêt est 14 jours."
            }
        })

        document.getElementById('radioRetour').addEventListener("click",()=>{
            if(document.getElementById('radioRetour').checked){
                document.getElementById('title').innerHTML = "Retour du livre"
                document.getElementById('btnEmpruntRetour').innerHTML = "Retour"
                document.getElementById('noteEmprunt').innerHTML = ""
            }
        })

        document.getElementById('btnEmpruntRetour').addEventListener("click",()=>{
            if (!document.getElementById('radioEmprunt').checked && !document.getElementById('radioRetour').checked){
                alert("Il faut choissir un option")
            } else if (document.getElementById("isbnLivre").value.trim() == ""){
                alert("Entrer ISBN du livre")
            } else{
                document.getElementById('formEmpruntLivre').submit();
            }

        })

    </script>

    <footer class="f">
        
    </footer>
</html>
