<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <header>
        
    </header>

    <body>
        <h1 id="title">Emprunt et Retour</h1>
        <form id="formRechercheClient" action="#" method="post"> 
            <label>Telephone du client : </label>
            <input type="tel" id="telClient" name="telClient" placeholder="Telephone du client" maxlength="10">
            <input type="hidden" id="option" name="option" value="RechercheClient">
            <button type="button" id="btnRechercheClient">Recherche</button>
        </form>
        <% if (client != null){ %>
            <% if (client.length != 0){ %>
                <div>
                    <p>Utilisateur trouvé : <%=client[0].Prenom%> <%=client[0].Nom %></p>
                    <p>Telephone : <%=client[0].Telephone%></p>
                    <p>Email : <%=client[0].Email%></p>
                    <p>Nombre de pret : <%=client[0].NbPret%></p>
                    <p>Solde du client : <%=client[0].Solde%></p>
                </div>
                

        
            

            <br>

            <form id="formEmpruntLivre" action="#" method="post"> 
                <input type="radio" id="radioEmprunt" name="choix" value="radioEmprunt" >
                <label>Emprunt</label>
                <input type="radio" id="radioRetour" name="choix" value="radioRetour">
                <label >Retour</label>
                <input type="radio" id="radioPerdu" name="choix" value="radioPerdu">
                <label >Perdu</label>
                <br>
                <label>ISBN du livre: </label>
                <input type="text" id="isbnLivre" name="isbnLivre" placeholder="ISBN du Livre">
                <% if (client != null){ %>
                    <% if (client.length != 0){ %>
                        <input type="hidden" id="clientEmprunt" name="clientEmprunt" value=<%= client[0].id%>>
                <%  } }%>  
                <input type="hidden" id="option" name="option" value="EmpruntRetour">    
                <button type="button" id="btnEmpruntRetour">Emprunt/Retour</button>
            </form>
            <p id="noteEmprunt"></p>

            
            <hr>
            <button id="btnAfficher">Afficher tous les historique du pret</button>

            <div id="divHistorique" hidden="true">
                <h3>Historique du pret</h3>
                
                <table>
                    <tr>
                        <th>ISBN</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date du pret</th>
                        <th>Date de retour prevu</th>
                        <th>Date de retour </th>
                    </tr>
                        
                    <% emprunts.forEach(emprunt => { %>
                        <tr>                    
                            <% livres.forEach(livre => { %>
                                <% if (emprunt.Livre_id.toString() == livre._id.toString()){ %>
                                    <td><%= livre.ISBN %> </td>
                                    <td><%= livre.Titre %> </td>
                                    <td><%= livre.Auteur %> </td>
                                    <% } %>
                                <% }) %>
                            <td><%= emprunt.DatePret.getDate()%>-<%= emprunt.DatePret.getMonth()+1 %>-<%= emprunt.DatePret.getFullYear()%></td>
                            <td><%= emprunt.DateRetourPrevu.getDate()%>-<%= emprunt.DateRetourPrevu.getMonth()+1 %>-<%= emprunt.DateRetourPrevu.getFullYear()%></td>
                            <% if (emprunt.DateRetour != null){  %>
                                <td><%= emprunt.DateRetour.getDate()%>-<%= emprunt.DateRetour.getMonth()+1 %>-<%= emprunt.DateRetour.getFullYear()%></td>
                            <% } else{  %>
                                <td>Non retourné</td>
                            <% }  %>                        
                        </tr>
                    <% }) %>
                </table>

            </div>

            <div id="divNonRetourne">
                <h3>Livres non retourné</h3>
                
                <table>
                    <tr>
                        <th>ISBN</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date du pret</th>
                        <th>Date de retour prevu</th>
                        <th>Date de retour </th>
                    </tr>
                        
                    <% emprunts.forEach(emprunt => { %>
                        <% if (emprunt.DateRetour == null){  %>
                        <tr>                                                     
                            <% livres.forEach(livre => { %>                               
                                <% if (emprunt.Livre_id.toString() == livre._id.toString()){ %>
                                    <td><%= livre.ISBN %> </td>
                                    <td><%= livre.Titre %> </td>
                                    <td><%= livre.Auteur %> </td>
                                    <% } %>
                                <% }) %>
                            <td><%= emprunt.DatePret.getDate()%>-<%= emprunt.DatePret.getMonth()+1 %>-<%= emprunt.DatePret.getFullYear()%></td>
                            <td><%= emprunt.DateRetourPrevu.getDate()%>-<%= emprunt.DateRetourPrevu.getMonth()+1 %>-<%= emprunt.DateRetourPrevu.getFullYear()%></td>
                            <td>Non retourné</td>                   
                        </tr>
                        <% } %>
                    <% }) %>
                </table>

            </div>



            <%  } else { %>
                <p>Utilisateur non trouvé</p>
            <%  } %>             

            <% } %>  

    </body>
    <script>
        document.getElementById('btnRechercheClient').addEventListener("click",()=>{
            if (document.getElementById("telClient").value.trim() != ""){
                document.getElementById('formRechercheClient').submit();
            } else{
                alert("Entrer le numero du telephone pour un recherche du client");
            }  
        })

        document.getElementById('radioEmprunt').addEventListener("click",()=>{
            if(document.getElementById('radioEmprunt').checked){
                document.getElementById('title').innerHTML = "Emprunt du livre"
                document.getElementById('btnEmpruntRetour').innerHTML = "Emprunt"
                document.getElementById('noteEmprunt').innerHTML = "Chaque personne peut emprunter 5 livres maximum. <br>"+
                                                                   "Un même livre ne peut pas prêter 2 copies à un personne. <br>" + 
                                                                   "Une durée du prêt est 14 jours. <br>" +
                                                                   "Le livre sera enlevé automatiquement de liste de réservation de ce client."
                                                                
            }
        })

        document.getElementById('radioRetour').addEventListener("click",()=>{
            if(document.getElementById('radioRetour').checked){
                document.getElementById('title').innerHTML = "Retour du livre"
                document.getElementById('btnEmpruntRetour').innerHTML = "Retour"
                document.getElementById('noteEmprunt').innerHTML = "Lorsque un utilisateur retour un livre, On ajoute un frais automatiquement 0.5$ par jours.<br>"+
                                                                   "Le maximum du frais en retard est 10$.<br>"+
                                                                   "Utilisateur doit mentionner le livre perdu au employee.<br>"+
                                                                   "Utilisateur doit payer le cout et le frais en retard lorsqu'il s'agit un pert."
            }
        })

        document.getElementById('radioPerdu').addEventListener("click",()=>{
            if(document.getElementById('radioPerdu').checked){
                document.getElementById('title').innerHTML = "Livre Perdu"
                document.getElementById('btnEmpruntRetour').innerHTML = "Livre Perdu"
                document.getElementById('noteEmprunt').innerHTML = "Utilisateur doit mentionner le livre perdu au employee.<br>"+
                                                                   "Utilisateur doit payer le cout et le frais en retard lorsqu'il s'agit un pert."
            }
        })

        document.getElementById('btnEmpruntRetour').addEventListener("click",()=>{
            if (!document.getElementById('radioEmprunt').checked && !document.getElementById('radioRetour').checked && !document.getElementById('radioPerdu').checked){
                alert("Il faut choissir un option")
            } else if (document.getElementById("isbnLivre").value.trim() == ""){
                alert("Entrer ISBN du livre")
            } else{
                document.getElementById('formEmpruntLivre').submit();
            }

        })

        document.getElementById('btnAfficher').addEventListener("click",()=>{
            if (document.getElementById('btnAfficher').innerHTML == "Afficher les livres non retourné"){
                document.getElementById('divHistorique').hidden = true;
                document.getElementById('divNonRetourne').hidden = false;                
                document.getElementById('btnAfficher').innerHTML = "Afficher tous les historique du pret";
 
            } else{
                document.getElementById('btnAfficher').innerHTML = "Afficher les livres non retourné";
                document.getElementById('divHistorique').hidden = false;
                document.getElementById('divNonRetourne').hidden = true;  
            }

            

        })

    </script>

    <footer class="f">
        
    </footer>
</html>
