<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/style.css">
    </head>


    <body>

        <h2>Bonjour <%=loginedUser.Prenom%> <%=loginedUser.Nom%></h2>
        <br>
        <div>
            <h3>Choisir un option</h3>
        </div>
        <div>
            <button>Modifier les informations du client</button>
        </div>
        <div>
            <button>Réserver les livres</button>
        </div>
        <div>
            <button>Annuler les réservations du livre</button>
        </div>
        <div>
            <button onclick="window.location='/gestion/emprunt'">Emprunt du livre</button>
        </div>
        <div>
            <button>Retour des livres </button>
        </div>
        <div>
            <button>Gestion du livre </button>
        </div>
        <div>
            <button>Facturation des clients</button>
        </div>
        <div>
            <% if (loginedUser.Droit_id == 99 ){ %>
                <button id="gestionEmployee">Gestion des employées</button>
            <% } %>
        </div>

        <!-- <div>
           <h2>Emprunts du livres</h2> 
            <div>
                <h4>Livres</h4>
                <table>
                    <th>ISBN</th>
                    <th>Auteur</th>
                    <th>Titre</th>
                    <th>MaisonEdition</th>
                    <th>DateParution</th>                 
                    <th>NbCopies</th>
                    <th>NbDisponible</th>
                    <th>Cout</th>
                    <% livres.forEach(livre => { %>
                        <tr>
                            <td><%=livre.ISBN %></td>
                            <td><%=livre.Auteur %></td>
                            <td><%=livre.Titre %></td>
                            <td><%=livre.MaisonEdition %></td>
                            <td><%=livre.DateParution %></td>
                            <td><%=livre.NbCopies %></td>
                            <td><%=livre.NbDisponible %></td>
                            <td><%=livre.Cout %></td>
                        </tr>
                    <% }) %>

                </table> 
            </div>
           
        </div>
        






        <div>
           <h3>Retour du livres</h3> 
           <table>
                <th>Utilisateur</th>
                <th>ISBN</th>
                <th>DatePret</th>
                <th>DateRetourPrevu</th>

                <% emprunts.forEach(emprunt => { %>
                    <%     if (emprunt.DateRetour == null ){%>
                    <tr>
                        <td>
                            <%  utilisateurs.forEach( utilisateur=>{%>
                                <%  if (utilisateur._id.toString() == emprunt.Utilisateur_id.toString()){%>
                                    <%=utilisateur.Email %>
                                <%  } %>
                            <%  })%>                       
                        </td>
                        <td>
                            <%  livres.forEach( livre=>{%>
                                <%  if (livre._id.toString() == emprunt.Livre_id.toString()){%>
                                    <%=livre.ISBN %>
                                <%  } %>
                            <%  })%>

                        </td>
                        <td><%=emprunt.DatePret %></td>
                        <td><%=emprunt.DateRetourPrevu %></td> 
                   
                    </tr>
                    <%     } %>
                    
                <% }) %> 


           </table>

        </div>-->




        













    </body>
    <footer class="f">
        <%- include ('../views/partials/footer.ejs') %>
    </footer>
</html>
