<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
        <title>Gestion Transaction</title>
    </head>
    <body>
        <div class="box">
            <div class="section">
                <section class="p-5">
                    <div class="container">
                        <h1>Gestion des transactions</h1>
                    </div>
                </section>
                <section class="p-1">
                    <div class="container">
                        <form action="/gestion/transaction" method="post" id="form">
                            <div class="mb-3">
                                <label class="form-label">Date de début</label>
                                <input type="date" id="start" name="start" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Date de fin</label>
                                <input type="date" id="end" name="end" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Téléphone du client</label>
                                <input type="tel" id="tel" name="tel" class="form-control">
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" onclick="recherche()">Rechercher</button>
                            </div>
                        </form>
                        
                    </div> 
                </section>
                <section class="p-1">
                    <div class="container">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Client</th>
                                <th scope="col">Sujet</th>
                                <th scope="col">Description</th>
                                <th scope="col">Méthode de paiement</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Employé</th>
                              </tr>
                            </thead>
                            <tbody>
                                
                                <% if (transactions) { %>
                                    <%transactions.forEach(transaction =>  { %>
                                        <% if (start <= transaction.DateTransaction && transaction.DateTransaction <= end){ %>

                                            <tr>
                                                <% var date = transaction.DateTransaction.toString().split('GMT') %>
                                                <td><%=date[0]%></td>
                                                <%var compteur =  0 %>  
                                                <% utilisateurs.forEach(utilisateur =>  { %>                              
                                                    <% if(transaction.Utilisateur_id.toString() == utilisateur._id.toString() ){ %>
                                                        <% compteur++ %>
                                                        <td>
                                                            <span style="font-weight:bold;"><%=utilisateur.Nom%>, <%=utilisateur.Prenom%></span><br/>
                                                            <span style="font-size:15px;"><%=utilisateur.Telephone%></span>
                                                        </td>
                                                    <% } %>
                                                                                
                                                <% }) %>
                                                <% if (compteur == 0){ %>
                                                    <td>utilisateur supprimé</td>
                                                <% } %>  
                                                <td><%=transaction.Titre%></td>
                                                <td><%=transaction.Commentaire%></td>
                                                <td><%=transaction.MethodePaiement%></td>
                                                <td><%=transaction.Cout%></td>
                                                <%var compteur =  0 %>
                                                <% utilisateurs.forEach(utilisateur =>  { %>
                                                    <% if(transaction.EmployeeId.toString() == utilisateur._id.toString() ){ %>
                                                        <% compteur++ %>
                                                        <td><%=utilisateur.Nom%>, <%=utilisateur.Prenom%></td>
                                                    <% } %>                                   
                                                <% }) %>
                                                <% if (compteur == 0){ %>
                                                    <td>Employee supprimé</td>
                                                <% } %> 
                                            </tr>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            </tbody>
                          </table>
                    </div>
                </section>

            </div>
            <%- include ('../views/partials/footer.ejs') %>
        </div>

    </body>
    <script>
        function recherche(){
            if (!document.getElementById('end').value) {
                document.getElementById('end').value = Date.now()
            }       
            document.getElementById('form').submit();
        }
    </script>

</html>
