<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <%- include ('../views/partials/header.ejs') %>
        <title>Gestion des utilisateurs et des employes</title>
    </head>
    <header>
        
    </header>

    <body>
        <div class="box">
            <div class="section">
                <section class="pt-5">
                    <div class="container">
                        <h1 id="title" class="fw">Gestion des utilisateurs et des employee</h1>
                    </div>           
                </section>

                  <table id="lesDroits" hidden>
                    <% droits.forEach(droit => { %>
                        <td >
                            <input value="<%= droit.Description %>">
                            <input value="<%=droit._id%>">
                        </td>
                    <% }) %>
                  </table>
        
                <section class="p-3">
                    <div class="container">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col" hidden>ID</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">Telephone</th>
                                <th scope="col">Email</th>                       
                                <th scope="col">MaxPret</th>
                                <th scope="col">NombrePret</th>
                                <th scope="col">Solde</th>
                                <th scope="col">Droit</th>
                                <th scope="col" hidden>Droit_id</th>
                                <th scope="col">Action</th>                                
                              </tr>
                            </thead>
                            <tbody>
                                <% utilisateurs.forEach(utilisateur => { %>
                                    <tr>
                                        <td hidden><%= utilisateur._id %></td>
                                        <td><%= utilisateur.Nom %></td>
                                        <td><%= utilisateur.Prenom %></td>
                                        <td><%= utilisateur.Telephone %></td>
                                        <td><%= utilisateur.Email %></td>
                                        <td><%= utilisateur.MaxPret %></td>
                                        <td><%= utilisateur.NbPret %></td>
                                        <td><%= utilisateur.Solde %></td>
                                        <% droits.forEach(droit => { %>
                                        <%    if(utilisateur.Droit_id == droit._id){ %>
                                                <td><%= droit.Description %></td>
                                                <td hidden><%= droit._id %></td>
                                        <%    } %>
                                        <% }) %>
                                        
                                        <td>
                                            <button class="btn btn-warning text-white" onclick="edit(this)">Modifier</button>
                                            <button class="btn btn-danger text-white" onclick="supprimer(this)">Supprimer</button>
                                        </td>
                                      </tr>                           
                                <% }) %>
                              
                            </tbody>
                          </table>
        
                    </div>           
                </section>
            </div>
            <%- include ('../views/partials/footer.ejs') %>
        </div>
    </body>
    <script>

        axios.defaults.baseURL = 'http://localhost:4000' 
        function supprimer(obj){
            var confirmation = confirm("Êtes-vous sûr de vouloir supprimer cette utilisateur?");
            if (confirmation){
                var id = $(obj).parents('tr').children('td')[0].innerHTML
                axios.post('/gestion/supprimerUtilisateur', {                   
                    ID: id
                }).then(res=>{
                    if (res.data.message) {alert(res.data.message)};                   
                    location.reload();
                })
            } else{
                alert('Action annulé')
            }
        }

        function edit(obj){
            var id = $(obj).parents('tr').children('td')[0].innerHTML
            window.location='/gestion/utilisateur/' + id
        }


        
       

    </script>

</html>