<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
        <title>
            Historique des emprunts
        </title>
</head>

<body>
    <div class="box">
        <div class="section">
            <section class="p-5 text-center">
                <div class="contrainer">
                    <button class='btn btn-primary' onclick="MontrerLivresEmpruntes()" type="button"
                        id="livresEmpruntes">Livres
                        empruntés</button>
                    <button class='btn btn-primary' onclick="MontrerLivresRetournes()" type="button"
                        id="livresRetournes">Livres
                        retournés</button>
                    <button class='btn btn-primary' onclick="MontrerLivresNonRetournes()" type="button"
                        id="livresNonRetournes">Livres non-retournés</button>
                </div>
            </section>
            <section class="p-5">
                <div class="contrainer">
                    <table id ="tableauLivres" class="table table-hover" align="center" style="width: 100%;">
                        <thead>
                            <th>ISBN</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Date de prêt</th>
                            <th>Date de retour prévue</th>
                            <th>Date de retour</th>
                        </thead>
                        <%for(var i=0; i<livresEmpruntes.length; i++) {%>
                            <%for(var j=0; j<livresInfos.length; j++) {%>
                                <%if(livresInfos[j]._id.toString() == livresEmpruntes[i].Livre_id.toString()){%>
                                    <!-- UN LIVRE -->
                                    <tbody class="text-primary">
                                        <tr id="livre">
                                            <!-- CHAQUE ATTRIBUT DU LIVRE -->
                                            <td id="isbnLivre">
                                                <%=livresInfos[j].ISBN%>
                                            </td>
                                            <td id="titreLivre">
                                                <%=livresInfos[j].Titre%>
                                            </td id="auteurLivre">
                                            <td>
                                                <%=livresInfos[j].Auteur%>
                                            </td>
                                            <td id="datePretLivre">
                                                <%=livresEmpruntes[i].DatePret.toDateString()%>
                                            </td>
                                            <td id="dateRetourPrevuLivre">
                                                <%=livresEmpruntes[i].DateRetourPrevu.toDateString()%>
                                            </td>
                                            <%if(livresEmpruntes[i].DateRetour!=null){%>
                                                <td id="dateRetourLivre">
                                                    <%=livresEmpruntes[i].DateRetour.toDateString()%>
                                                </td>
                                            <%}%>
                                            <%if(livresEmpruntes[i].DateRetour==null){%>
                                                <td id="dateRetourLivre">
                                                    Non retourné
                                                </td>
                                            <%}%>
                                        </tr>
                                    </tbody>
                                <%}%>
                            <%}%>
                        <%}%>
                    </table>                
                </div>
            </section>
        </div>
        <%- include ('../views/partials/footer.ejs') %>
    </div>
</body>
<script>
    function MontrerLivresEmpruntes() {
        var listeLivres = document.getElementById('tableauLivres')
        for (var i = 1; i < listeLivres.rows.length; i++) {
            listeLivres.getElementsByTagName('tr')[i].hidden = false
        }
    }
    function MontrerLivresRetournes() {
        var listeLivres = document.getElementById('tableauLivres')
        for (var i = 1; i < listeLivres.rows.length; i++) {
            listeLivres.getElementsByTagName('tr')[i].hidden = false
            if (listeLivres.getElementsByTagName('tr')[i].getElementsByTagName('td').namedItem("dateRetourLivre").innerHTML.trim() == "Non retourné") {
                listeLivres.getElementsByTagName('tr')[i].hidden = true
            }
        }
    }
    function MontrerLivresNonRetournes() {
        var listeLivres = document.getElementById('tableauLivres')
        for (var i = 1; i < listeLivres.rows.length; i++) {
            listeLivres.getElementsByTagName('tr')[i].hidden = false
            if (listeLivres.getElementsByTagName('tr')[i].getElementsByTagName('td').namedItem("dateRetourLivre").innerHTML.trim() != "Non retourné") {
                listeLivres.getElementsByTagName('tr')[i].hidden = true
            }
        }
    }
</script>
</html>