<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>

<style>
    .bouttonMettreAJour{
            padding-left: 100px;
            padding-top: 50px;
        }
</style>
<body>
<<<<<<< Updated upstream
    <br>
    <br>
    <br>
    <br>
    
    <br>
    <br>
=======
    <div class="box">
        <div class="section">

            <section class="p-5">
                <div class="container">
                    <form id="MiseAJourInfos" method="post" action="/Modifier">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom: </label>
                            <input type="text" class="form-control" name="nomModifie" id="nomModifie" value="<%= loginedUser.Nom %>" required aria-describedby="nomHelp">
                            <div id="nomHelp" class="form-text">Cette partie ne peut pas être vide</div>
                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prénom: </label>
                            <input type="text" class="form-control" name="prenomModifie" id="prenomModifie" value="<%= loginedUser.Prenom %>" required aria-describedby="prenomHelp">
                            <div id="prenomHelp" class="form-text">Cette partie ne peut pas être vide</div>
                        </div>
                        <div class="mb-3">
                            <label for="telephoneModifie" class="form-label">Téléphone: </label>
                            <input type="tel" class="form-control" name="telephoneModifie" id="telephoneModifie" value="<%= loginedUser.Telephone %>" pattern="[0-9]{10}" required aria-describedby="telHelp">
                            <div id="telHelp" class="form-text">Le téléphone doit être 10 chiffres</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Téléphone: </label>
                            <input type="text" class="form-control"name="emailModifie" id="emailModifie" value="<%= loginedUser.Email %>" required aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Cette partie ne peut pas être vide</div>
                        </div>
                        <div class="mb-3">
                        <input class="btn btn-sm btn-primary" type="submit" value="Mise à jour de vos informations">
                        </div>
                    </form>
                </div>
            </section>

            <section class="p-3">
                <div class="container">
                    <form method="post" action="/ModifierPhotoProfil" enctype="multipart/form-data" id="formModifPhoto">
                        <div class="mb-3 form-group">
                            <label for="photo">Photo: </label>
                            <input type="file" class="form-control-file" name="photoModifie" id="photoModifie" enctype="mult" accept="image/png, image/jpeg, image/png, image/jpg">
                        </div>
                        <div class="mb-3 ">
                            <input type="button" class="btn btn-sm btn-primary" id="btnPhoto" value="Mis à jour votre photo de profil" onclick="submitPhoto()" aria-describedby="imgHelp">
                            <div id="imgHelp" class="form-text">Note: Il faut vous déconnecter pour afficher la nouveau photo de profil pour le format JPG</div>
                        </div>
>>>>>>> Stashed changes


    <form id="MiseAJourInfos" method="post" action="/Modifier">
    <label for="nom">Nom: </label>
    <input type="text" name="nomModifie" id="nomModifie">
    <br>
    <br>
    <label for="prenom">Prénom: </label>
    <input type="text" name="prenomModifie" id="prenomModifie">
    <br>
    <br>
    <label for="telephone">Téléphone: </label>
    <input type="text" name="telephoneModifie" id="telephoneModifie">
    <br>
    <br>
    <label for="email">Email: </label>
    <input type="text" name="emailModifie" id="emailModifie">
    <br>
    <br>
    <label for="photo">Photo: </label>
    <input type="file" name="photoModifie" id="photoModifie">

    <input type="submit">
    
</form>
</body>
<footer class="f">
    <p>Author: Mebarkia Mohamed / Mohamed Wafi / Zhi Bo / Omar Khoudair</p>
    <img src="/Images/logo.png" class="logo">
</footer>
</html>