<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
        <title>Modifier le profil</title>
    </head>

<body>
    <div class="box">
        <div class="section">
            <section class="p-5">
                <div class="container">
                    <form id="MiseAJourInfos" method="post" action="/Modifier">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom: </label>
                            <input type="text" class="form-control" name="nomModifie" id="nomModifie" value="<%= loginedUser.Nom %>" required aria-describedby="nomHelp">
                            <div id="nomHelp" class="form-text">Ce champ est obligatoire</div>
                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prénom: </label>
                            <input type="text" class="form-control" name="prenomModifie" id="prenomModifie" value="<%= loginedUser.Prenom %>" required aria-describedby="prenomHelp">
                            <div id="prenomHelp" class="form-text">Ce champ est obligatoire</div>
                        </div>
                        <div class="mb-3">
                            <label for="telephoneModifie" class="form-label">Téléphone: </label>
                            <input type="tel" class="form-control" name="telephoneModifie" id="telephoneModifie" value="<%= loginedUser.Telephone %>" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required aria-describedby="telHelp">
                            <div id="telHelp" class="form-text">Le téléphone doit contenir 10 chiffres</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Courriel: </label>
                            <input type="text" class="form-control"name="emailModifie" id="emailModifie" value="<%= loginedUser.Email %>" required aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Ce champ est obligatoire</div>
                        </div>
                        <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="Mise à jour de vos informations">
                        </div>
                    </form>
                </div>
            </section>

            <section class="p-3">
                <div class="container">
                    <form method="post" action="/ModifierPhotoProfil" enctype="multipart/form-data" id="formModifPhoto">
                        <div class="mb-3 form-group">
                            <label for="photo">Photo: </label>
                            <input type="file" class="form-control" name="photoModifie" id="photoModifie" enctype="mult" accept="image/png, image/jpeg, image/png, image/jpg">
                        </div>
                        <div class="mb-3 ">
                            <input type="button" class="btn btn-primary" id="btnPhoto" value="Mis à jour votre photo de profil" onclick="submitPhoto()" aria-describedby="imgHelp">
                            <div id="imgHelp" class="form-text">Note: Il faut vous déconnecter pour afficher la nouvelle photo de profil pour le format JPG</div>
                        </div>

                    </form>
                </div>
            </section>          
        </div>
        <%- include ('../views/partials/footer.ejs') %>
    </div>
</body>


<script>
    function submitPhoto(){
        if (document.getElementById('photoModifie').value){
            document.getElementById('formModifPhoto').submit()
        }else{
            alert("Vous devez choisir un photo") 
        } 
    }
</script>
</html>