<!DOCTYPE html>
<html>

<head>
    <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
</head>

<style>
    td {
        padding: 0.6rem 0.6rem;
    }

    th {
        padding: 1rem 2rem;
    }

    .droite {
        padding-left: 200px;
    }

    .gauche {
        position: absolute;
        left: 54px;
    }

    .wrapper {
        padding-top: 125px;
    }

    .bouttonMettreAJour {
        padding-left: 100px;
    }

    .listeLivresEmpruntes {
        padding-left: 500px;
        position: absolute;
        top: 30px;
        left: -115px;
    }

    .outer-wrapper {
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
        max-width: fit-content;
        max-height: fit-content;


    }

    .table-wrapper {

        overflow-y: scroll;
        overflow-x: scroll;
        height: fit-content;
        max-height: 66.4vh;

        margin-top: 22px;

        margin: 15px;
        padding-bottom: 20px;

    }

    table {

        min-width: max-content;

        border-collapse: separate;
        border-spacing: 0px;

    }



    table th {
        position: sticky;
        top: 0px;

        background-color: #133b5c;
        color: rgb(241, 245, 179);

        text-align: center;
        font-weight: normal;
        font-size: 18px;
        outline: 0.7px solid black;
        border: 1.5px solid black;

    }



    table th,
    table td {

        padding: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    table td {
        text-align: left;

        font-size: 15px;
        border: 1px solid rgb(177, 177, 177);
        padding-left: 20px;

    }
</style>

<body class="body">
    <form action="profilUser" method="post">
        <div class="wrapper">
            <div class="gauche">
                <img class="photoProfil" src="<%= loginedUser.Photo %>" alt="utilisateur" width="100">
            </div>
            <div class="droite">
                <div class="infos">
                    <h3>Informations</h3>

                    <div class="infos_data">
                        <label for="nom">Nom:</label>
                        <!-- TRÈS IMPORTANT, IL FAUT FAIRE APPEL AU PROFIL (DÉCLARÉ DANS LE SERVEUR NODE JS) CAR ON VA UTILISER LES ATTRIBUTS qu'ils contient pour les afficher  -->
                        <label for="nomSaisi">
                            <%= loginedUser.Nom %>
                        </label>
                        <br>
                        <br>
                        <label for="prenom">Prénom:</label>
                        <label for="prenomSaisi">
                            <%= loginedUser.Prenom %>
                        </label>
                        <br>
                        <br>
                        <label for="telephone">Téléphone:</label>
                        <label for="telephoneSaisi">
                            <%= loginedUser.Telephone %>
                        </label>
                        <br>
                        <br>
                        <label for="email">Courriel:</label>
                        <label for="emailSaisi">
                            <%= loginedUser.Email %>
                        </label>
                        <br>
                        <br>
                        <label for="solde">Solde:</label>
                        <label for="soldeSaisi">
                            <%= loginedUser.Solde %>
                        </label>
                    </div>
                    <br>
                    <br>

                </div>
            </div>
        </div>



        </div>

    </form>

    <button class = 'btn btn-primary' onclick="MontrerLivresEmpruntes()" id="livresEmpruntes">Livres empruntés</button>
    <button class = 'btn btn-primary' onclick="MontrerLivresRetournes()" id="livresRetournes">Livres retournés</button>
    <button class = 'btn btn-primary' onclick="MontrerLivresNonRetournes()" id="livresNonRetournes" >Livres non-retournés</button>

    <div class="listeLivresEmpruntes">
        <div class="table-wrapper">
            <div class="outer-wrapper">


                <table>
                    <thead>
                        <th>ISBN</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de prêt</th>
                        <th>Date de retour prévue</th>
                        <th>Date de retour</th>
                    </thead>
                    <%for(var i=0; i<listeLivresEmpruntes.length; i++) {%>
                        <!-- UN LIVRE -->
                        <tbody>
                            <tr>
                                <!-- CHAQUE ATTRIBUT DU LIVRE -->
                                <td >
                                    <%=listeLivresEmpruntes[i].isbn%>
                                </td>
                                <td>
                                    <%=listeLivresEmpruntes[i].titre%>
                                </td>
                                <td>
                                    <%=listeLivresEmpruntes[i].auteur%>
                                </td>
                                <td>
                                    <%=listeLivresEmpruntes[i].datePret%>
                                </td>
                                <td>
                                    <%=listeLivresEmpruntes[i].dateRetourPrevue%>
                                </td>
                                <td id="dateRetourLivre">
                                    <%=listeLivresEmpruntes[i].dateRetour%>
                                </td>

                            </tr>

                            <%}%>
                        </tbody>
                </table>
            </div>
        </div>

        <script>
            function MontrerLivresEmpruntes(){
                var dateRetour=document.getElementById("dateRetourLivre");
                dateRetour="allo";
            }
        </script>











    </div>

</body>
<footer class="f">
    <p>Author: Mebarkia Mohamed / Mohamed Wafi / Zhi Bo / Omar Khoudair</p>
    <img src="/Images/logo.png" class="logo">
</footer>

</html>