<!DOCTYPE html>
<html>

<head>
    <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
        <title>Profil</title>
</head>

<body class="body">
    <div class="box">
        <div class="section">
            <section class="p-3">
               <div class="container">
                    <div class="d-flex p-5">
                        <div class="mb-3 p-5">
                            <div class="mb-3">
                            <img src="<%= loginedUser.Photo %>" alt="utilisateur" width="180">
                            </div>
                            <div class="mb-3">
                            <a href="/Modifier" class="btn btn-sm btn-primary" >Modifier vos informations</a>
                            </div>
                            <div class="mb-3">
                            <a href="/ModifierMotDePasse" class="btn btn-sm btn-danger" >Modifier vos mots de passe</a>
                            </div>
                        </div>
                        <div class="mb-3 p-5" >
                            <div class="mb-3">
                                <h3>Informations</h3>
                            </div>
                            <div class="mb-3">
                                <label for="nom" class="form-label">Nom:</label>
                                <label id="nom" class="form-label">
                                    <%= loginedUser.Nom %>
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="prenom" class="form-label">Prénom:</label>
                                <label id="prenom" class="form-label">
                                    <%= loginedUser.Prenom %>
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="telephone" class="form-label">Téléphone:</label>
                                <label id="telephone" class="form-label">
                                    <%= loginedUser.Telephone %>
                                </label>
                            </div>    
                            <div class="mb-3">
                                <label for="email" class="form-label">Courriel:</label>
                                <label id="email" class="form-label">
                                    <%= loginedUser.Email %>
                                </label>                                
                            </div>
                            <div class="mb-3">
                                <label for="solde" class="form-label">Solde:</label>
                                <label id="solde" class="form-label">
                                    <%= loginedUser.Solde %>
                                </label>                                
                            </div>    
                        </div>
                    </div>
                </div>
            </section>         
        </div>
        <%- include ('../views/partials/footer.ejs') %>
    </div>

</body>

</html>