<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>  
        <link rel="stylesheet" href="/CSS/style.css">  
    </head>

    <body class="recherche">
       <!--  <a href=”/livres/PCAL001”>

            <image src= "<%=livresTab[4].Photo %>" >
            
            </a>
         -->
        <form class="recherche" >
            <table class="tab">
                <td style="width:600px"><input type="text" placeholder="Search..." name="search2"> 
                    <button type="submit" style="width:auto">Search</button></td>
            </table>
        </form>
        <br>
          <div>
                <table class="TabDesLivres">
                            <% for(var i=0; i<livresTab.length; i++) {%>
                                 <% if (i % 5 == 0){%>
                                    <td class="recherche"> <% } %> 
                                        <div id = "Unlivre">
                                            <table class="Unlivre" >                                                 
                                                <tr class="recherche" class="caseTabeLivre">
                                                    <a href='/livres/<%=livresTab[i].ISBN %>'>
                                                        <image class="imgRecherche" src= "<%=livresTab[i].Photo %>" aligne="middle">
                                                    </a>    
                                                </tr>
                                                <td class="recherche"><a  class="titreLivreRecherche" href='/livres/<%=livresTab[i].ISBN %>'><%= livresTab[i].Titre %></a><br></td>
                                            </table>
                                        </div>
                                      <% if (i % 5 == 4){%>
                                    </td> <% } %> 
                            <% } %>
                </table>
          </div>

          <script>

              function sendISBN(){
                  console.log("bb")
              }
                

           



          </script>


    </body>
    <footer class="f">
        <p>Author: Mebarkia Mohamed / Mohamed Wafi / Zhi Bo / Omar Khoudair</p>
        <img src="/Images/logo.png" class="logo">
    </footer>
</html>
