<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
        <div align="center">
            <br><br><br><br><br><br>
           <h2>Réservation de livres</h2> 
            <div>
                <table style=width:80%;>

                    <th>ISBN</th>
                    <th>Auteur</th>
                    <th>Titre</th>
                    <th>MaisonEdition</th>
                    <th>Date</th>
                    <th>Action</th>
                    <% livres.forEach(leLivre => { %>
                        <% resInfo.forEach(leResInfo => { %>
                            <% if(leLivre._id.toString() == leResInfo.Livre_id.toString()) { %>
                                    <tr>
                                        <td align="center"><%=leLivre.ISBN %></td>
                                        <td align="center"><%=leLivre.Auteur %></td>
                                        <td align="center"><%=leLivre.Titre %></td>
                                        <td align="center"><%=leLivre.MaisonEdition %></td>
                                        <td align="center"><%=leResInfo.DateReservation.getHours() %>: <%=leResInfo.DateReservation.getMinutes() %>
                                            <%=leResInfo.DateReservation.getDate()%>/<%=leResInfo.DateReservation.getMonth()+1 %>/<%=leResInfo.DateReservation.getFullYear() %>
                                        </td>
                                        <td align="center">  
                                            <form action="/annulerReservation" method="post">
                                                <input type="submit" value="Annuler la réservation" id="btnAnnuler">
                                                <input type="hidden" value="<%= leLivre._id %>" name="livre_id" id="livre_id">
                                                <input type="hidden" value="<%= leLivre.Titre %>" name="livre_titre" id="livre_titre">
                                                <input type="hidden" value="<%= leLivre.NbDisponible %>" name="livre_NbDisponible" id="livre_NbDisponible">
                                                <input type="hidden" value="<%= leResInfo.Utilisateur_id %>" name="user_id" id="user_id">
                                            </form>
                                        </td>
                                    </tr>
                            <% } %>
                        <% }) %>
                    <% }) %>

                </table> 
            </div>
        </div>  
    </body>
    <footer class="f">
        <%- include ('../views/partials/footer.ejs') %>
    </footer>
</html>
