<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
        <link rel="stylesheet" href="/CSS/style.css">
        <title>Transactions</title>
    </head>
    <body>
        <div class="box">
            <div class="section">
                <section class="p-5">
                    <div class="container" align="center">
                        <h2>Transactions</h2> 
                         <div>
                            <table class="table table-hover">
                                     <thead>
                                       <tr align="center">
                                            <th hidden>ID</th>
                                            <th scope="col">Date de facturation</th>
                                            <th scope="col">Sujet</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">MethodePaiement</th>        
                                            <th scope="col">Montant</th>
                                            <th scope="col">Action</th>
                                       </tr>
                                     </thead>
                                     <tbody>
                                        <% transactions.forEach(transaction => { %>
                                            
                                            <tr align="center">
                                                <td hidden><%=transaction._id%></td>
                                                <td>
                                                    <%=transaction.DateTransaction.getDate()%>/<%=transaction.DateTransaction.getMonth()+1 %>/<%=transaction.DateTransaction.getFullYear() %>
                            
                                                </td>


                                                <td><%=transaction.Titre %></td>
                                                <td><pre style="font-size:16px; font-family: Arial, Helvetica, sans-serif;"><%=transaction.Commentaire%></pre></td>
                                                <td><%=transaction.MethodePaiement %></td>
                                                <td><%=transaction.Cout %></td>                                                             
                                                <td>
                                                    <button type="submit" class="btn btn-info text-white" id="btnAnnuler" onclick="generationPDF(this)">Voir la facture</button>
                                                </td>
                                            </tr>

                                        <% }) %>
                                     </tbody>
                            </table> 
                        </div>
                    </div>

                </section>
                <input hidden id="clientFullName" value="<%=loginedUser.Nom%> <%=loginedUser.Prenom%>">
                <input hidden id="clientTel" value="<%=loginedUser.Telephone%>">
                <input hidden id="clientEmail" value="<%=loginedUser.Email%>">
                
                
            </div>
            <%- include ('../views/partials/footer.ejs') %>
        </div>

    </body>


    <script>

    
        function generationPDF(obj) {
            var clientFullName = document.getElementById('clientFullName').value
            var clientTel = document.getElementById('clientTel').value
            var clientEmail = document.getElementById('clientEmail').value

            var id = $(obj).parents('tr').children('td')[0].innerHTML
            var date = $(obj).parents('tr').children('td')[1].innerHTML.trim()
            var sujet = $(obj).parents('tr').children('td')[2].innerHTML
            var description= $(obj).parents('tr').children('td')[3].getElementsByTagName('pre')[0].innerHTML
            var methodePaiement= $(obj).parents('tr').children('td')[4].innerHTML
            var montant = $(obj).parents('tr').children('td')[5].innerHTML

            var totalLabel
            if (montant > 0){
                totalLabel = montant + "$ a été ajouté dans votre compte"    
            } else {
                totalLabel = (-montant) + "$ a été retiré de votre compte" 
            }
            
            var props = {
                outputType: jsPDFInvoiceTemplate.OutputType.Save,
                returnJsPDFDocObject: true,
                fileName: "FactureDePaiement",
                orientationLandscape: false,
                compress: true,
                logo: {
                    src: "/public/Images/logo.png",
                    width: 40, //aspect ratio = width/height
                    height: 40,
                    margin: {
                        top: -8, //negative or positive num, from the current position
                        left: 0 //negative or positive num, from the current position
                    }
                },
                business: {
                    name: "Biblioclick",
                    phone: "(+355) 069 11 11 111",
                    email: "biblioclick@gmail.com",
                    email_1: "info.biblioclick@gmail.com",
                    website: "www.biblioclick.com",
                },
                contact: {
                    label: "Information du client",
                    name: clientFullName,
                    phone: clientTel,
                    email: clientEmail,
                },
                invoice: {
                    headerBorder: false,
                    tableBodyBorder: false,
                    header: [
                        {
                            title: "Date",
                            style: {
                                width: 20
                            }
                        },
                        {
                            title: "Title",
                            style: {
                                width: 30
                            }
                        },
                        {
                            title: "Description",
                            style: {
                                width: 80
                            }
                        },
                        { 
                            title: "Methode de Paiement", 
                            style: {
                                width: 45
                            }
                        },
                        { title: "Montant" }
                    ],
                    table: Array.from(Array(1), (item, index) => ([
                        date,
                        sujet,
                        description,
                        methodePaiement,
                        montant,
                    ])),

                    // invTotalLabel: totalLabel,
                    invTotal: totalLabel,
                    invDescLabel: "Numéro de la facture",
                    invDesc: id,
                },
                footer: {
                    text: "The invoice is created on a computer and is valid without the signature and stamp.",
                },
                pageEnable: true,
                pageLabel: "Page ",
            };


            var pdfObject = jsPDFInvoiceTemplate.default(props);         
        }
        
    </script>


</html>
